@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=Orbitron:wght@900&family=Plus+Jakarta+Sans:wght@800&display=swap');

@theme {
  --font-display-sports: "Oswald", sans-serif;
  --font-display-tech: "Orbitron", sans-serif;
  --font-display-premium: "Plus Jakarta Sans", sans-serif;
}

@import "tailwindcss";
